@{
    ViewData["Title"] = "Home Page";
}

<div id="app">

</div>
@section scripts
{

<environment names="Development">
    <script src="~/js/react.js"></script>
    <script src="~/js/index.js"></script>
</environment>    

}